# PyCity Schools Analysis

In [3]:
# Import dictionaries and dependencies

import pandas as pd
from pathlib import Path

In [6]:
# Load files and read files

schools_data = Path('../PyCitySchools/Resources/schools_complete.csv')
students_data = Path('../PyCitySchools/Resources/students_complete.csv')

schools_data = pd.read_csv(schools_data)
students_data = pd.read_csv(students_data)


schools_data_complete = pd.merge(students_data, schools_data)

In [57]:
# Overview of school data

schools_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [266]:
# Total number of unique schools (calculated by school IDs)

school_count = schools_data_complete['School ID'].nunique()

school_count

15

In [267]:
#  Total number of students

total_students = schools_data_complete['Student ID'].nunique()

total_students

39170

In [204]:
# Total Budget 

total_budget = schools_data_complete['budget'].sum()

total_budget

82932329558

In [163]:
# Average score in maths

math_score_avg = schools_data_complete['math_score'].mean()

math_score_avg

78.98537145774827

In [164]:
reading_score_avg = schools_data_complete['reading_score'].mean()

reading_score_avg

numpy.float64

In [209]:
# Percentage of students who passed math (scores greater than 70)

math_pass_count = schools_data_complete[(schools_data_complete['math_score']>= 70)].count() \
                                        ['Student ID']

math_pass_percentage = math_pass_count/float(total_students) * 100

math_pass_percentage

74.9808526933878

In [208]:
reading_pass_count = schools_data_complete[(schools_data_complete['reading_score']>=70)].count() \
                                            ['Student ID']

reading_pass_percentage = reading_pass_count/float(total_students) * 100

reading_pass_percentage

85.80546336482001

In [210]:
# percentage of students who passed math and reading

math_and_Reading_pass_count = schools_data_complete[
            (schools_data_complete['math_score']>= 70)  & (schools_data_complete['reading_score']>= 70)
            ].count()['student_name']

overall_pass_rate = math_and_Reading_pass_count/float(total_students) * 100

overall_pass_rate

65.17232575950983

In [211]:
# Key metrics in the dataframe

district_summary = pd.DataFrame({'Total Schools': [school_count], 'Total Students': [total_students],
                                 'Total Budget': [total_budget], 'Average Math Score': [math_score_avg],
                                 'Average Reading Score': [reading_score_avg], '% Passing Math': [math_pass_percentage],
                                 '% Pass Reading': [reading_pass_percentage],'% Overall Pass': [overall_pass_rate]})

district_summary['Total Students'] = district_summary['Total Students'].map('{:,}'.format)
district_summary['Total Budget'] = district_summary['Total Budget'].map('${:,.2f}'.format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Pass Reading,% Overall Pass
0,15,"39,170","$82,932,329,558.00",78.985371,81.87784,74.980853,85.805463,65.172326

# School Summary

In [222]:
# school names

school_names = schools_data_complete['school_name'].unique()

school_names

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [212]:
#  All school types

school_types = schools_data_complete['type'].unique()

school_types

array(['District', 'Charter'], dtype=object)

In [280]:
# Total Students per School
students_per_school = schools_data_complete.groupby('school_name')['Student ID'].count()

students_per_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [282]:
# Budget per school

budget_per_school = schools_data_complete.groupby('school_name')['budget'].sum()

budget_per_school

school_name
Bailey High School       15549641728
Cabrera High School       2009159448
Figueroa High School      5557128039
Ford High School          4831365924
Griffin High School       1346890000
Hernandez High School    14007062700
Holden High School         105933149
Huang High School         5573322295
Johnson High School      14733628650
Pena High School           563595396
Rodriguez High School    10186904637
Shelton High School       1860672600
Thomas High School        1705517550
Wilson High School        3012587442
Wright High School        1888920000
Name: budget, dtype: int64

In [283]:
# per capita spending per school

spending_per_Capita_per_school =  budget_per_school / students_per_school

spending_per_Capita_per_school

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
dtype: float64

In [300]:
# Average test scores in math per school

math_avg_score_per_sch = schools_data_complete.groupby('school_name')['math_score'].mean()

math_avg_score_per_sch

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [286]:
reading_avg_score_per_sch = schools_data_complete.groupby('school_name')['reading_score'].mean()

reading_avg_score_per_sch

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [287]:
# Percentage of students passing math per school

students_passing_math_per_sch = schools_data_complete[schools_data_complete['math_score'] \
                     >= 70].groupby('school_name')['Student ID'].count()

math_pass_percentage_per_sch = students_passing_math_per_sch / students_per_school * 100

math_pass_percentage_per_sch

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: Student ID, dtype: float64

In [289]:
students_passing_reading_per_sch = schools_data_complete[schools_data_complete['reading_score'] \
                                       >= 70].groupby('school_name')['Student ID'].count()

reading_pass_percentage_per_sch = students_passing_reading_per_sch / students_per_school * 100

reading_pass_percentage_per_sch

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: Student ID, dtype: float64

In [294]:
# Overall percentage pass per school

students_passing_both = schools_data_complete[(schools_data_complete['math_score'] >= 70) &
                                (schools_data_complete['reading_score'] >= 70)].groupby('school_name')['Student ID'].count()

percentage_students_passing_both_per_school = students_passing_both / 100

percentage_students_passing_both_per_school

school_name
Bailey High School       27.19
Cabrera High School      16.97
Figueroa High School     15.69
Ford High School         14.87
Griffin High School      13.30
Hernandez High School    24.81
Holden High School        3.81
Huang High School        15.61
Johnson High School      25.49
Pena High School          8.71
Rodriguez High School    21.19
Shelton High School      15.83
Thomas High School       14.87
Wilson High School       20.68
Wright High School       16.26
Name: Student ID, dtype: float64

# Highest-Performing Schools (by % Overall Passing)

In [296]:
df = pd.DataFrame(percentage_students_passing_both_per_school)

top_schools = df.sort_values(by='Student ID', ascending=False)

top_schools

                       Student ID
school_name
Bailey High School          27.19
Johnson High School         25.49
Hernandez High School       24.81
Rodriguez High School       21.19
Wilson High School          20.68
Cabrera High School         16.97
Wright High School          16.26
Shelton High School         15.83
Figueroa High School        15.69
Huang High School           15.61
Ford High School            14.87
Thomas High School          14.87
Griffin High School         13.30
Pena High School             8.71
Holden High School           3.81

# Lowest-Performing Schools (by % Overall Passing)

In [297]:

bottom_schools = df.sort_values(by='Student ID')

bottom_schools

                       Student ID
school_name
Holden High School           3.81
Pena High School             8.71
Griffin High School         13.30
Ford High School            14.87
Thomas High School          14.87
Huang High School           15.61
Figueroa High School        15.69
Shelton High School         15.83
Wright High School          16.26
Cabrera High School         16.97
Wilson High School          20.68
Rodriguez High School       21.19
Hernandez High School       24.81
Johnson High School         25.49
Bailey High School          27.19

In [298]:

ninth_graders = schools_data_complete[(schools_data_complete["grade"] == "9th")]
tenth_graders = schools_data_complete[(schools_data_complete["grade"] == "10th")]
eleventh_graders = schools_data_complete[(schools_data_complete["grade"] == "11th")]
twelfth_graders = schools_data_complete[(schools_data_complete["grade"] == "12th")]

In [317]:
# mean math scores by school 

mean_math_score_9th = ninth_graders.groupby('school_name')['math_score'].mean()
mean_math_score_10th = tenth_graders.groupby('school_name')['math_score'].mean()
mean_math_score_11th = eleventh_graders.groupby('school_name')['math_score'].mean()
mean_math_score_12th = twelfth_graders.groupby('school_name')['math_score'].mean()

In [315]:
# Creating a Data frame for the mean math scores per school

math_scores_by_grade = pd.DataFrame({
    '9th Grade Mean Math Score': mean_math_score_9th,
    '10th Grade Mean Math Score': mean_math_score_10th,
    '11th Grade Mean Math Score': mean_math_score_11th,
    '12th Grade Mean Math Score': mean_math_score_12th
}).reset_index() 

math_scores_by_grade

,school_name,9th Grade Mean Math Score,10th Grade Mean Math Score,11th Grade Mean Math Score,12th Grade Mean Math Score
0,Bailey High School,77.083676,76.996772,77.515588,76.492218
1,Cabrera High School,83.094697,83.154506,82.765560,83.277487
2,Figueroa High School,76.403037,76.539974,76.884344,77.151369
3,Ford High School,77.361345,77.672316,76.918058,76.179963
4,Griffin High School,82.044010,84.229064,83.842105,83.356164
5,Hernandez High School,77.438495,77.337408,77.136029,77.186567
6,Holden High School,83.787402,83.429825,85.000000,82.855422
7,Huang High School,77.027251,75.908735,76.446602,77.225641
8,Johnson High School,77.187857,76.691117,77.491653,76.863248
9,Pena High School,83.625455,83.372000,84.328125,84.121547
10,Rodriguez High School,76.859966,76.612500,76.395626,77.690748
11,Shelton High School,83.420755,82.917411,83.383495,83.778976
12,Thomas High School,83.590022,83.087886,83.498795,83.497041
13,Wilson High School,83.085578,83.724422,83.195326,83.035794
14,Wright High School,83.264706,84.010288,83.836782,83.644986

In [318]:
# mean reading scores by school for each grade

mean_math_score_9th = ninth_graders.groupby('school_name')['reading_score'].mean()
mean_math_score_10th = tenth_graders.groupby('school_name')['reading_score'].mean()
mean_math_score_11th = eleventh_graders.groupby('school_name')['reading_score'].mean()
mean_math_score_12th = twelfth_graders.groupby('school_name')['reading_score'].mean()

In [321]:
# Creating a Data frame for the mean math scores per school

reading_scores_by_grade = pd.DataFrame({
    '9th grade mean reading score': mean_math_score_9th,
    '10th grade mean reading score': mean_math_score_10th,
    '11th grade mean reading score': mean_math_score_11th,
    '12th grade mean reading score': mean_math_score_12th    
}).reset_index()

reading_scores_by_grade

,school_name,9th grade mean reading score,10th grade mean reading score,11th grade mean reading score,12th grade mean reading score
0,Bailey High School,81.303155,80.907183,80.945643,80.912451
1,Cabrera High School,83.676136,84.253219,83.788382,84.287958
2,Figueroa High School,81.198598,81.408912,80.640339,81.384863
3,Ford High School,80.632653,81.262712,80.403642,80.662338
4,Griffin High School,83.369193,83.706897,84.288089,84.013699
5,Hernandez High School,80.866860,80.660147,81.396140,80.857143
6,Holden High School,83.677165,83.324561,83.815534,84.698795
7,Huang High School,81.290284,81.512386,81.417476,80.305983
8,Johnson High School,81.260714,80.773431,80.616027,81.227564
9,Pena High School,83.807273,83.612000,84.335938,84.591160
10,Rodriguez High School,80.993127,80.629808,80.864811,80.376426
11,Shelton High School,84.122642,83.441964,84.373786,82.781671
12,Thomas High School,83.728850,84.254157,83.585542,83.831361
13,Wilson High School,83.939778,84.021452,83.764608,84.317673
14,Wright High School,83.833333,83.812757,84.156322,84.073171

# Score by School Spending

In [ ]:
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# Scores by School Size

In [323]:
school_size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

pd.cut(schools_data_complete['size'],school_size_bins,labels=size_labels)

0         Large (2000-5000)
1         Large (2000-5000)
2         Large (2000-5000)
3         Large (2000-5000)
4         Large (2000-5000)
                ...
39165    Medium (1000-2000)
39166    Medium (1000-2000)
39167    Medium (1000-2000)
39168    Medium (1000-2000)
39169    Medium (1000-2000)
Name: size, Length: 39170, dtype: category
Categories (3, object): ['Small (<1000)' < 'Medium (1000-2000)' < 'Large (2000-5000)']